.module {
  background: #f8f8f8;
}

.module.map {
}

.module ul,
.module li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.module ul {
  padding: 0.5em;
  padding-top: 0;
  margin: 0.5em 0;
  overflow-y: auto;
  overflow-x: auto;
  height: 24em;
}

.module li {
  display: block;
  border: 1px solid #ddd;
  margin-top: 0.5em;
  padding: 0.5em;
  background: #fff;
}

.module li:first-child {
  margin-top: 0; }

.module li div.meta,
.module li div.caption {
}

.module li div.report {
  font-size: 2em;
  line-height: 1.2;
  border-bottom: 1px dotted #eee;
  margin-bottom: 0.25em;
  padding-bottom: 0.25em;
  clear: right;
}


ul.reports {
}

ul.reports div.report strong {
  font-weight: normal;
  background: #ffd;
}

ul.reports div.meta {
  color: #aaa;
}


ul.stats {
  text-align: center;
}

ul.stats li span {
  font-size: 50%;
  color: #aaa;
}

ul.stats li span.total {
  font-size: 100%;
}


.split-3, .split-2 {
  margin-top: 1em;
}

ul.reports li.not-understood {
  border: 2px solid yellow;
}

ul.reports li.invalid {
  border: 2px solid red;
}

ul.reports span.time {
  float: right;
  color: grey;
  font-size: 0.8em;
}