body
{
	background:#eee url("../images/body-bg.png");
	font:9pt "Lucida Grande", "Bitstream Vera Sans", Verdana, sans-serif;
	line-height:1;
	color:#333;
	margin:0;
	padding:0;
}

a
{
	text-decoration:none;
	color:#33a7d2;
}

.js_link
{
	cursor:pointer;
	color:#33a7d2;
}

abbr
{
	cursor:help;
}

p
{
	line-height:1.4;
}

label span.acc
{
	position:absolute;
	text-indent:-9999px;
}

div.clear-hack
{
	overflow:hidden;
	clear:both;
	height:0;
}

#wrapper
{
	width:83em;
	background:#fff;
	-moz-box-shadow:4px 4px 8px #aaa;
	box-shadow:4px 4px 8px #aaa;
	-moz-border-radius-bottomright:1em;
	-moz-border-radius-bottomleft:1em;
	margin:0.5em auto 0;
}

* html #wrapper
{
	width:960px;
}

#header
{
	background:url("../images/header-bg.png") repeat-x;
	padding-top:23px;
	padding-bottom:33px;
	position:relative;
	color:#ccf;
}

#auth
{
	font-size:80%;
	position:absolute;
	line-height:22px;
	right:0;
	top:0;
	margin:0 10px;
}

#auth a
{
	color:#fff;
}

#branding
{
	padding:0 10px;
}

#branding h4
{
	background:url("../images/unicef-logo.png") no-repeat 100% 50%;
	height:65px;
	color:#fff;
	margin:0;
}

* html #branding h4
{
	width:940px;
}

body.login #branding h1
{
	text-indent:-9999px;
}

#branding h4 a
{
	height:65px;
	width:245px;
	display:block;
	background:url("../images/rapidsms-logo.png") no-repeat 0 50%;
	float:left;
}

#branding h4 a span
{
	position:absolute;
	left:-9999px;
}

#tabs,#page-tabs
{
	position:absolute;
	height:28px;
	bottom:0;
	margin:0;
	padding:0;
}

#tabs
{
	right:0;
}

#page-tabs
{
	left:0;
}

#tabs li,#page-tabs li
{
	display:block;
	float:left;
	line-height:28px;
}

#tabs li
{
	margin-right:5px;
}

#page-tabs li
{
	margin-left:5px;
}

#tabs li a,#page-tabs li a
{
	color:#fff;
	display:block;
	background:#2fa5d1 url("../images/tab-bg.png") repeat-x;
	border-right:1px solid #11bad0;
	border-left:1px solid #11bad0;
	outline:none;
	padding:0 1em;
}

#tabs li.unread a span
{
	display:block;
	padding-right:21px;
	background:url("../icons/silk/email_open.png") no-repeat 100% 50%;
}

#tabs li.active a,#page-tabs li.active a,#tabs li.active a:hover,#page-tabs li.active a:hover,#tabs li.active a:focus,#page-tabs li.active a:focus
{
	background:#fff url("../images/tab-bg-active.png") repeat-x;
	text-shadow:none;
	color:#000;
	border:1px solid #cef1f5;
	border-bottom:0;
	margin-top:-1px;
	text-decoration:none;
}

#tabs li a:hover,#page-tabs li a:hover,#tabs li a:focus,#page-tabs li a:focus
{
	background-image:url("../images/tab-bg-hover.png");
	text-shadow:#cef1f5 0 0 2px;
	text-decoration:none;
}

#breadcrumbs
{
	font-size:200%;
	color:#ddf;
	border-bottom:1px dotted #eef;
	padding:10px;
}

#inner
{
	position:relative;
	padding:1em;
}

#inner h1
{
	color:#ccc;
	font-size:2em;
	line-height:1;
	font-weight:400;
	text-shadow:#eee 2px 2px 2px;
	margin:0.5em 0 1em;
}

#inner h1 a
{
	color:#000;
	text-decoration:none;
}

#inner h1 span.highlight
{
	background:#ffa;
	-moz-border-radius:5px;
	border:2px solid #ff0;
	margin-left:-4px;
	padding:0 4px;
}

#inner div.split,#inner div.split-2
{
	padding:0 0.5em;
}

#inner div.split .left,#inner div.split-2 .left
{
	margin-left:-0.5em;
	float:left;
	border:none;
	width:50%;
}

#inner div.split .right,#inner div.split-2 .right
{
	margin-right:-0.5em;
	float:right;
	border:none;
	width:50%;
}

#inner div.split-3
{
	padding:0 1em;
}

#inner div.split-3 .left
{
	margin-left:-1em;
	float:left;
	border:none;
	width:33%;
}

#inner div.split-3 .mid
{
	margin-right:1em;
	margin-left:1em;
	float:left;
	border:none;
	width:34%;
}

#inner div.split-3 .right
{
	margin-right:-1em;
	float:right;
	border:none;
	width:33%;
}

#inner div.split-4
{
	padding-left:3em;
}

#inner div.split-4 .left,#inner div.split-4 .mid-left,#inner div.split-4 .right,#inner div.split-4 .mid-right
{
	margin-left:1em;
	float:left;
	width:25%;
}

#inner div.split-4 .left
{
	margin-left:-3em;
}

#inner div.message
{
	text-align:center;
	padding:4em 25%;
}

#inner div.message p
{
	font-size:2em;
	margin:0 0 0.5em;
}

div.trigger
{
	font-size:80%;
	text-align:center;
	background:#f8f8f8;
	cursor:pointer;
	color:#aaa;
	padding:0.625em;
}

div.trigger.warn
{
	background:#fdd;
	color:red;
}

input.small
{
	width:5em;
}

#footer
{
	border-top:1px dotted #eee;
	clear:both;
	color:#ccc;
	min-height:2.8em;
	padding:0.5em;
}

#footer .rg-footer
{
	padding-top:1.4em;
	line-height:1.4;
}

#footer p.rights
{
	text-align:right;
	float:right;
	margin:0;
}

#top
{
	background-color:#333;
}

#middle
{
	width:1030px;
	margin-right:auto;
	margin-left:auto;
	background-color:#FFF;
	padding-top:10px;
	min-height:600px;
}

#bottom
{
	background-color:#FFF;
}

#one_third
{
	float:left;
	margin-left:10px;
	width:310px;
}

#two_thirds
{
	float:left;
	margin-left:10px;
	width:630px;
}

a:hover,.js_link:hover
{
	text-decoration:underline;
}