[DEFAULT]
debug = false

[app:router]
use = egg:SMS-CVS#router
database = sqlite:///deployment.db
host = localhost
port = 13013
username = kannel
password = kannel
dlr_url = http://host/kannel

[app:docs]
use = egg:Paste#static
document_root = %(here)s/docs/html

[composite:main]
use = egg:Paste#urlmap
/kannel = router
/docs = docs

[server:main]
use = egg:Flup#scgi_thread
host = 127.0.0.1
port = 8080