[DEFAULT]
debug = false

[app:django]
use = egg:UgandaSMS
settings = %(here)s/settings.py

[composite:main]
use = egg:Paste#urlmap
/ = django

[server:main]
use = egg:Flup#scgi_thread
host = 127.0.0.1
port = 8080