[DEFAULT]
debug = false

[app:router]
use = egg:SMS-CVS#router
database = sqlite:///var/main.db
host = 196.0.26.61
port = 13013
username = kannel
password = kannel
dlr_url = http://uganda.rapidsms.org/kannel

[app:docs]
use = egg:Paste#static
document_root = %(here)s/docs

[composite:main]
use = egg:Paste#urlmap
/kannel = router
/docs = docs

[server:main]
use = egg:Flup#scgi_thread
host = 127.0.0.1
port = 8002
