DEBUG = True

ROOT_URLCONF = "demo.urls"

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': 'sms.db'
    }
}

MESSAGE_ROUTER = "router.router.Sequential"

FORMS = (
    'ObservationForm',
    'MuacForm',
    'OtpForm',
    'BirthForm',
    'DeathForm',
    'CureForm',
    'Registration',
    'Signup',
    'NotUnderstood',
    'FreeForm',
    )

TRANSPORTS = {
    'gsm': {
        'TRANSPORT': 'router.transports.GSM',
        'DEVICE': '/dev/ttyUSB0',
        }
    }

INSTALLED_APPS = (
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.admin',
    'treebeard',
    'router',
    'router.tests',
    'register',
    'health',
    'location',
    'stats',
    'cvs',
    'webui',
    'messageui',
    'help',
)

MIDDLEWARE_CLASSES = (
    'django.middleware.common.CommonMiddleware',
    'django.contrib.sessions.middleware.SessionMiddleware',
    'django.contrib.auth.middleware.AuthenticationMiddleware',
    )

TEMPLATE_CONTEXT_PROCESSORS = (
    'django.core.context_processors.auth',
    "django.core.context_processors.debug",
    "django.core.context_processors.i18n",
    "django.core.context_processors.media",
    "django.core.context_processors.request",
    "django.contrib.messages.context_processors.messages",
    "django.core.context_processors.csrf",
    )

TEMPLATE_DIRS = (
    "../django-treebeard/treebeard/templates",
    "../django/django/contrib/admin/templates",
    "../django/django/contrib/auth/templates",
    "src/webui/templates",
    "src/messageui/templates",
    )

LOGIN_URL = "/login"
LOGIN_REDIRECT_URL = "/"
