{% extends "base_template.html" %}

{% block title %}Message Log{% endblock %}

{% block page_stylesheets %}
<link type="text/css" rel="stylesheet"
      href="/static/messageui/stylesheets/layout.css" />
{% endblock %}

{% block content %}
<h1>
  <a href="{% url messageui.views.index %}">Messages</a>{% if search_string %}
  / <a href="">Search for
      <span class="highlight">{{ search_string }}</span></a>{% endif %}
</h1>

<p class="help">
  Displays recent messages and lets you send a message to the system.
</p>

<div class="span-12">
  <form class="inline" method="get" id="search">
    <p>
      <label for="q">Query:</label>
      <input name="q" type="text" value="{{ search_string }}" />
      <input type="submit" value="Search" />
    </p>
  </form>
  <form class="inline" method="post">
    {% csrf_token %}
    {{ send_form.as_p }}
    <input type="submit" name="send" value="Send" />
    <input type="submit" name="send_as_guest" value="Send as guest" />
  </form>
</div>

<table id="message-log" class="sortable">
  {% for column, display in columns %}
  <col{% ifequal column sort_column %} class="sorted"{% endifequal %} />
  {% endfor %}

  <thead>
	{% for column, display in columns %}
	{% ifequal column sort_column %}
	<th class="sorted {% if sort_descending %}descending{% else %}ascending{% endif %}">
	  <a href="?q={{ search_string }}&sort_descending={% if sort_descending %}false{% else %}true{% endif %}&sort_column={{ column }}" title="Sort by {{ display }}{% if sort_descending %} (asc){% endif %}">
		{{ display }}
	  </a>
	</th>
	{% else %}
	<th><a href="?q={{ search_string }}&sort_column={{ column }}" title="Sort by {{ display }}">{{ display }}</a></th>
	{% endifequal %}
	{% endfor%}
  </thead>
  
  <tbody>
	{% for message in messages.object_list %}
	<tr>
	  <td>{{ message.time|date:"d-M-Y H:i:s" }}</td>
	  <td>
        {% if message.connection.reporter %}
        {{ message.connection.reporter|title }}
        {% endif %}
        <pre>{{ message.connection }}</pre>
      </td>
	  <td class="message-text">
        {% if message.forms.all %}
        <ul>
          {% for form in message.forms.all %}
          <li class="{% if form.erroneous %} erroneous{% endif %}">
            <tt class="message-text">{{ form.text }}</tt>
            <span class="form-kind form-{{ form.kind }}">({{ form.kind }})</span>
            <ul>
              {% for outgoing in form.replies.all %}
              <li class="{% if outgoing.is_response %}response{% else %}alert{% endif %}">
                {{ outgoing.text }}
              </li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <tt class="message-text">{{ message.text }}</tt>
        {% endif %}
      </td>
	</tr>
	{% endfor %}
  </tbody>
  
  <tfoot>
	<tr>
	  <td colspan="5">
		
	  </td>
	</tr>
  </tfoot>
</table>
{% endblock %}
