table#message-log {
  width: 100%;
}

table#message-log th,
table#message-log td {
  width: 16%;
}

table#message-log th,
table#message-log td {
  width: 32%;
}

pre.message-text {
  font-weight: bold;
}