table#message-log {
  width: 100%;
}

table#message-log th,
table#message-log td {
  width: 16%;
}

table#message-log th,
table#message-log td {
  width: 32%;
}

.message-text {
  font-weight: bold;
}

table#message-log li.erroneous li.response {
  color: red;
}

table#message-log li.response {
  color: green;
  margin-top: 0.2em;
  list-style-type: square;
  margin-left: 1.3em;
}

table#message-log span.form-kind {
  color: #666;
}